service odm.se_omapi /odm/bin/se_omapi
    class hal
    user root
    group root
    disabled
    oneshot
    interface aidl android.se.omapi.ISecureElementService/default
    setenv LD_LIBRARY_PATH /odm/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64:/sbin
    seclabel u:r:recovery:s0
