# init.recovery.qcom.rc — EXACT copy from TWRP 3.7.1_16 ramdisk
# Copyright (c) 2017-2023, The Linux Foundation. All rights reserved.

import /init.recovery.wifi.rc

on init
    start vendor.boot-qti
    setprop prepdecrypt.setpatch true

on early-fs
    write /proc/sys/walt/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    mkdir /mnt/vendor 0775 shell system
    mkdir /mnt/vendor/persist 0775 shell system
    mkdir /tmp/persist 0775 shell system
    mount none /tmp/persist /mnt/vendor/persist bind rec
    install_keyring

on post-fs
    start odm.variant-script

on boot
    setprop sys.usb.config adb

on property:twrp.modules.loaded=true
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/ssr
    write /sys/kernel/boot_adsp/ssr 1
    wait /sys/class/power_supply/battery
    start vendor.health-default
    umount /vendor
    symlink /firmware /vendor/firmware_mnt

on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
    start odm.prepdecrypt

on property:twrp.variant.files_copied=1
    start odm.vibratorfeature-service
    start odm.touch_report
    start odm.weaver-service
    start odm.keymint-strongbox
    start odm.se_omapi

on property:servicemanager.ready=true
    setprop sys.boot_completed 1
